.profileCard {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 60px;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}

.profileCard .greeting {
    text-align: center;
    font-size: 2em;
}

.profileCard .profileText {
    justify-self: flex-start;
    margin-right: auto;
}

.profileCard .profileText a {
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    color: var(--button-color);
}