@import url('https://fonts.googleapis.com/css2?family=Playfair:ital@1&family=Ubuntu:ital,wght@0,300;0,700;1,500&display=swap');
:root {
    --hole-diameter: 16px
}

.spiralBook {
    width: 271px;
    height: 400px;
    background-color: var(--background-color);
    border: 3.4px solid var(--text-color);
    border-radius: 15px;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.spiralBook .spiralWinding {
    width: 3rem;
    height: 100%;
    background: var(--background-color);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: inherit;
}

.bookmark svg {
    color: var(--button-color);
    width: 100%;
    height: 100%;
}

.spiralBook .bookTitleWrapper {
    height: 100%;
    width: calc(271px - 3rem);
    background: var(--background-color);
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spiralBook .bookTitleWrapper p {
    color: var(--button-color);
    font-weight: bold;
    font-family: 'Playfair', serif;
    font-size: 26px;
    padding: 10px;
}

.spiralBook .spiralWinding .hole {
    width: var(--hole-diameter);
    height: var(--hole-diameter);
    border-radius: 50%;
    background-color: var(--background-color);
    border: 2px solid var(--text-color);
    margin: 0 0.6rem;
    position: relative;
}

.spiralBook .spiralWinding .wire {
    position: absolute;
    width: calc(var(--hole-diameter) / 2 + 1.7px + 0.6rem);
    height: 2px;
    /* background-color: var(--text-color); */
    background-color: var(--text-color);
    /* margin-bottom: -30px; */
    /* margin-left: 9px; */
    border-radius: 30px;
    top: calc(var(--hole-diameter) / 2);
    right: calc(var(--hole-diameter) / 2);
}