.container {
    width: 100%;
    padding: 40px 0;
}

.container>div {
    width: 75%;
    margin: auto;
}

.container>div h1 {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .container>div {
        width: 90%;
    }
}

.container hr {
    border-top: 1px dashed var(--text-color);
    background-color: transparent;
}